<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="PortalDoMedico" type="PortalDoMedicoWEB.Section" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PortalDoMedico.PortalDoMedicoWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="portaldomedicoEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=e92go2zkim.database.windows.net,1433;initial catalog=portaldomedico_db;user id=administrador;password=n5$4ELBv@NCGyMke;MultipleActiveResultSets=True;Connection Timeout=60;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PortalSqlMemberShip" connectionString="Server=tcp:e92go2zkim.database.windows.net,1433;Database=portaldomedico_db;User ID=administrador;Password=n5$4ELBv@NCGyMke;Trusted_Connection=False;Encrypt=True;Connection Timeout=45;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <PortalDoMedico>
	<sendGrid usuarioKey="azure_bc080b0519ac253472f067c26c89a0eb@azure.com" senhaKey="Pm@124578*" from="nao-responder@portaldomedico.com" templateDir="~/MailTemplates/" />
  </PortalDoMedico>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PortalStorage" value="DefaultEndpointsProtocol=https;AccountName=portaldomedico;AccountKey=klEgVCHDCTqIKuiJ4/KgJE+QhTTaSG2wAMmR3k0IJpBKAAM1gzvcceljwYGIzAbmSjxDUW3LLBleuLNVeGykRg==" />
    <add key="MercadoPagoToken" value="APP_USR-6250308245666987-071714-f3bd24eb3deb64ee8bbd6dd54256ba50__LB_LD__-264691132" />
    <add key="MercadoPagoTokenPublic" value="APP_USR-b1b46aad-9921-49d0-91d8-c49fc277b27e" />
    <add key="FrenetToken" value="3B473BD3RF56AR4C11R8AAER642BFA650B28" />
    <add key="FacebookAppId" value="250071455404555" />
    <add key="FacebookAppSecret" value="228e3cfccf5df7d8d71f2e320597be9e" />
    <add key="OmieAppKey" value="493142506857" />
    <add key="OmieAppSecret" value="c8c2409073f286088887e652c3f1f976" />
    <add key="AnymarketURL" value="http://api.anymarket.com.br/marketplace" />
    <!-- Correios -->
    <add key="CorreiosUser" value="sigep" />
    <add key="CorreiosPass" value="n5f9t8" />
    <add key="CorreiosCartao" value="0067599079" />
    <add key="CorreiosContrato" value="9992157880" />
    <add key="CNPJ" value="34028316000103" />
    <!--dados utilização paypal-->
    <add key="paypalemail" value="billing@mdepartment.com" />
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="SuccessURL" value="https://portaldomedico.com/PaypalPayments/RetornoSucesso" />
    <add key="NotifyURL" value="https://portaldomedico.com/PaypalPayments/PaypalIPNListener/" />
    <add key="FailedURL" value="https://portaldomedico.com/PaypalPayments/RetornoError" />
    <!-- dados utilização Moip -->
    <add key="TokenAcessoMoip" value="WElMUFpOMFcxQk9TUUxMVEI0Q1RBU1BESEdPNEoxQjU6WjJVVjBDQ0Y2VTdOR0k4WEJNRDRLWExIUzlMR000TlJPRjdBNlZXMA==" />
    <add key="UrlApiMoip" value="https://api.moip.com.br/v2/orders/" />
    <add key="ChavePublicaCriptoCartao" value="-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7kBvwKs6oqO69+dkOfWs5rW6zYBFOaoyagKLhZsOy0mdt7lVNO2nTQSxBP7E72oLTmbvbEVtg+mNyGuNm5cpS/R68OWhPH7FdF2ZRNakVnuKM2n6iq9wydCaieAPHYltpy2W6KqdVjpMxsSWFdgzLByAimwuG7dIAOPi/q+R/OBZaU3zAG8YcSLL8zGN5ifw5a/cCsTbERFbOWI1ARGAY7KGYt2YaXXpnjm1Gt6BTynWZpgxelHtd7svBxmxRoho16wVxKRN18XwGP98xgOA7X6AKgZRkD++21iCh6xSWlRL/MELvfxXC0fc1NxJ8lBXwW9Hk2hgS1JQ9S8ThVdW5wIDAQAB-----END PUBLIC KEY-----" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/ErrorPage/NaoEncontrado" />
      <error statusCode="500" redirect="~/ErrorPage/Error" />
    </customErrors>
    <authentication mode="Forms">
      <forms name="Portal.Usuario" loginUrl="~/Usuario/Login" protection="All" slidingExpiration="true" timeout="240" defaultUrl="/" cookieless="UseCookies" enableCrossAppRedirects="true" domain="portaldomedico.com" />
    </authentication>
    <sessionPageState historySize="5" />
    <sessionState compressionEnabled="true" timeout="240" />
    <compilation targetFramework="4.7.2" />
    <!-- maxRequestLength usado em KB está setado aproximadamente 100Mb -->
    <httpRuntime targetFramework="4.6.1" executionTimeout="240" maxRequestLength="100000" />
    <membership defaultProvider="PortalProvider" userIsOnlineTimeWindow="60">
      <providers>
        <clear />
        <add connectionStringName="PortalSqlMemberShip" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="7" passwordAttemptWindow="10" name="PortalProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="PortalProvider" cookieProtection="All" cookieTimeout="240" enabled="true" cacheRolesInCookie="false" cookieName=".PortalRoles">
      <providers>
        <clear />
        <add connectionStringName="PortalSqlMemberShip" name="PortalProvider" applicationName="/" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <location path="MinhaConta">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Estudante">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <security>
      <dynamicIpSecurity>
        <denyByRequestRate enabled="true" maxRequests="40" requestIntervalInMilliseconds="2000" />
      </dynamicIpSecurity>
      <requestFiltering>
        <!-- maxAllowedContentLength usado em Bytes está setado aproximadamente 100Mb -->
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMaxAge="2.00:00:00" cacheControlMode="UseMaxAge" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
      <add name="imagecodigobarra" path="ImagemCodigoBarra.ashx" type="BoletoNet.ImagemCodigoBarraHandler" verb="*" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SendGrid.CSharp.HTTP.Client" publicKeyToken="79219bf4e5ecaaca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.3.1.0" newVersion="106.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CalcPrecoPrazoWSSoap" />
        <binding name="AtendeClienteServiceSoapBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="ClientesCadastroSoap" />
        <binding name="OrdemServicoSoap" />
        <binding name="LancamentoContaReceberSoap" />
        <binding name="LancamentoContaPagarSoap" />
        <binding name="ContaCorrenteLancamentosSoap" />
        <binding name="OrdemServicoFaturamentoSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CalcPrecoPrazoWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx" binding="basicHttpBinding" bindingConfiguration="CalcPrecoPrazoWSSoap" contract="ServiceReferenceCorreios.CalcPrecoPrazoWSSoap" name="CalcPrecoPrazoWSSoap" />
      <endpoint address="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx" binding="basicHttpBinding" bindingConfiguration="CalcPrecoPrazoWSSoap" contract="CalcPrecoPrazo.CalcPrecoPrazoWSSoap" name="CalcPrecoPrazoWSSoap" />
      <endpoint address="https://apphom.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="CorreiosSigep.AtendeCliente" name="AtendeClientePort" />
      <endpoint address="http://app.omie.com.br/api/v1/geral/clientes/" binding="basicHttpBinding" bindingConfiguration="ClientesCadastroSoap" contract="OmieClientes.ClientesCadastroSoap" name="ClientesCadastroSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/servicos/os/" binding="basicHttpBinding" bindingConfiguration="OrdemServicoSoap" contract="OmieOS.OrdemServicoSoap" name="OrdemServicoSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/financas/contareceber/" binding="basicHttpBinding" bindingConfiguration="LancamentoContaReceberSoap" contract="OmieContaReceber.LancamentoContaReceberSoap" name="LancamentoContaReceberSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/financas/contapagar/" binding="basicHttpBinding" bindingConfiguration="LancamentoContaPagarSoap" contract="OmieContaPagar.LancamentoContaPagarSoap" name="LancamentoContaPagarSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/financas/contacorrentelancamentos/" binding="basicHttpBinding" bindingConfiguration="ContaCorrenteLancamentosSoap" contract="OmieContaCorrente.ContaCorrenteLancamentosSoap" name="ContaCorrenteLancamentosSoap" />
      <endpoint address="http://app.omie.com.br/api/v1/servicos/osp/" binding="basicHttpBinding" bindingConfiguration="OrdemServicoFaturamentoSoap" contract="OmieOSNota.OrdemServicoFaturamentoSoap" name="OrdemServicoFaturamentoSoap" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 05FF8796-5F79-44E9-AC15-90B491908B5B-->